table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
}

thead th {
  background-color: black;
  color: white;
}

tfoot,
tbody tr {
  border: 1px solid black;
}
tbody tr:nth-child(even) {
  background-color: rgb(236 229 229);
}
tbody tr:hover {
  background: lightblue;
}

tbody tr td:first-child {
  background-color: rgb(195 213 230);
}

caption {
  /* caption-side: bottom; */
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
}
